<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">ready to get started ?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            quae doloremque nisi, iusto inventore, unde dolorum modi laborum
            sint deserunt dolor accusantium porro quos eum sunt perferendis
            animi. Nesciunt, natus.
          </p>
        </div>
        <a href="" class="btn btn--secondary btn--stretched">get started</a>
      </div>
    </div>
  </body>
</html>
