<div style="width: 50%; padding: 4rem">
  <div class="plane">
    <div class="card card--secondary">
      <header class="card__header">
          <!-- TODO: add a popular_badge to image folder -->
        <!-- <img src="images/popular_badge.svg" alt="" /> -->
        <h3 class="plane__name">entry</h3>
        <span class="plane__price">$14</span>
        <span class="plane__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small"></span>
        <span class="plane__description">east start on the road</span>
      </header>
      <div class="card__body"></div>
    </div>
  </div>
</div>
