<div class="media">
  <div class="media_image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">easy start & manage updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
      libero ea eaque iste laboriosam, corrupti doloremque sapiente autem eius
      similique nam, repudiandae itaque quod incidunt dolore ratione dolorum non
      nulla!
    </p>
  </div>
</div>
